.nav-wrapper {
    background-color: #26A69A;
}

html {
    background-color: #ffffb3;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

form {
    text-align: center;
    
}

.test{
    font-size: 1rem;
}


label {
    font-size: 1rem;
}

section {
    background-color: #ffffb3;
}

.parallax {
  position:static;
}

header {
    text-align: center;
}