<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/static/style.css" type="text/css" />
      
      <link rel="stylesheet" href="/static/style.css" type="text/css" />
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </head>
    <body>
      
      <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Tuition App Name</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/calculatorOptions">Calculator</a></li>
                    <li><a href=""> Log In </a></li>
                    <li><a href="">Sign Up</a></li>
                </ul>
            </div>
        </nav> 
      
      <h1>If you keep a savings account that compounds annually at this rate for {{yearGap}} years. You will save ${{totalSaved}} and the cost we predict for 4 years of tuition at this college is ${{highTuition}}. You will need to find ${{elsewhere}} from other sources to avoid taking loans.</h1>
      <p>If the last number displayed is a negative value you will have saved even more than you need. But be careful unexpected costs are not too uncommon for college students</p>
      
      <a href = '/index'> Re-take form? </a>
      <a href = '/aidPage'>Too expensive?</a>
      <a href = '/advanced'>Advanced Calculator</a>
    
    </body>

</html>

