<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
        <h1>Hello Student!</h1>
         <form method="post" action="/sendUserData">
            <label for="fullName" placeholder="Enter full name"> What is your full name? </label>
                <input type='text' name='fullName'>
            <label for="collegename"> What is the college's name? </label>
                <input type='text' name='collegename'>
            <label for="tuition"> How much is the tuition? </label>
                <input type='text' name='tuition'>
            <label for="gradMonth"> What month will you graduate? </label>
                <input type='text' name='gradMonth'>
            <label for="gradYear"> What year will you graduate? </label>
                <input type='text' name='gradYear'>
            <label for="currentMonth"> What month is it? </label>
                <input type='text' name='currentMonth'>
            <label for="currentYear"> What year is it? </label>
                <input type='text' name='currentYear'>
            <input type='submit'>
        </form>
    </body>
    
</html>

