<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
      <h1> In order to save for {{collegename}} it will cost you ${{tuition}}</h1>
      <h1> There are {{weeksleft}} weeks until you graduate.</h1>
      <h1> You will need to save {{saving}} every week until you graduate to pay for your tuition.</h1>
      <a href = '/index'> Re-take form? </a>
      <a href = '/aidPage'>Too expensive?</a>
    
    </body>

</html>

