<!DOCTYPE html>
<html>
    
    <head>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </head>

    <body>
        
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Tuition App Name</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/calculatorOptions">Calculator</a></li>
                    <li><a href=""> Log In </a></li>
                    <li><a href="">Sign Up</a></li>
                </ul>
            </div>
        </nav> 
        
        <div class="container">
       <div class="row">
           <br>
           <div class="col s4 center-align">
        <a class="waves-effect waves-light btn-small" href='/calculatorA'>Average Cost of Private Institution</a>
        <p>Not sure where you want to go? Follow this button for the average cost of a private university. Keep in mind private universities are typically more expensive than alternatives.</p>
        </div>
           
        <div class="col s4 center-align">
        <a class="waves-effect waves-light btn-small" href='/calculatorB'>Average Cost of In-State College</a>
        <p>Not sure where you want to go? This option gives you an idea of what to expect if you attend a state university in your state.</p>
        </div> 
      
        <div class="col s4 center-align">
        <a class="waves-effect waves-light btn-small" href='/calculatorC'>Average Cost of Out-of-State College</a>
        <p>Not sure where you want to go? This option gives you an idea of what to expect if you attend a state university in another state.</p>
        </div>
       </div>
        
      <div class="row">
          <div class="col s4 center-align">
        <a class="waves-effect waves-light btn" href='/calculatorD'>Average Cost of 2-Year College</a>
        <p>Not sure where you want to go? This option will cover the least expensive option which is a community college. Be aware that typically community colleges are used to achieve just an associates degree.</p>
        </div>
        
        <div class="col s4 center-align">
        <a class="waves-effect waves-light btn" href='/calculator'>Already Decided?</a>
        <p>Have your sights set on a school? Great now lets see what it'll take to get you there!</p>
        </div>
        <div class="col s4 center-align">
        <a class="waves-effect waves-light btn" href='/calculatorE'>Lets Take No Risk!</a>
        <p>Lets cover all your bases. This will use the tuition of the most costly school in the United States. This way no matter where you go youll have enough money and if you ultimately chose a less expensive school you will have extra money saved!</p>
        </div>
       </div>   
       </div>
    </body>
    
</html>

