<!DOCTYPE html>
<html>
    
    <head>
        
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <!--<link rel="stylesheet" href="/static/style.css" type="text/css" />-->
    <title>Home</title>
    
    </head>
    <body>
      
         
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Tuition App Name</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/calculatorOptions">Calculator</a></li>
                    <li><a href="">Log In/ </a></li>
                    <li><a href="">Sign Up</a></li>
                </ul>
            </div>
        </nav> 
         
    </body>
    
</html>

