<!DOCTYPE html>
<html>
    
    <head>
        
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <link rel="stylesheet" href="/static/style.css" type="text/css" />  
            
    </head>
    <body>
        
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Tuition App Name</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href = '/index' class="material-icons waves-effect waves-light">home</a></li>
                    <li><a href="/calculatorOptions">Calculator</a></li>
                    <li><a href=""> Log In </a></li>
                    <li><a href="">Sign Up</a></li>
                </ul>
            </div>
        </nav> 
        
         <h4 class="center-align"><b>Please fill every form</b></h4>
        <div class="container">
             <div class="container">
            <div class="container">
           
         <form method="post" action="/sendUserDataE">
            <br>
            <label for="fullName" placeholder="Enter full name"> What is your full name? </label>
                <input type='text' name='fullName' required>
            <br><br>
            <label for="gradMonth"> What month will you graduate? </label>
                <input type='number' name='gradMonth' min = '1' max= '12' required>
            <br><br>    
            <label for="gradYear"> What year will you graduate? </label>
                <input type='number' name='gradYear' maxlength = '4'  required>
            <br><br>    
            <label for="currentMonth"> What month is it? </label>
                <input type='number' name='currentMonth' min = '1' max= '12' required>
            <br><br>    
            <label for="currentYear"> What year is it? </label>
                <input type='number' name='currentYear' value='Enter a number' required>
            <br><br>
            <input type='submit'>
        </form>
         </div>
        </div>
        </div>
    </body>
    
</html>

