<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
      
      <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Tuition App Name</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/calculatorOptions">Calculator</a></li>
                    <li><a href=""> Log In </a></li>
                    <li><a href="">Sign Up</a></li>
                </ul>
            </div>
        </nav> 
      
      <h1> You would need ${{extraMoney}} in gift aid to pay your tuition without loans</h1>
      <a href = '/index'> Re-take form? </a>
    
    </body>

</html>
