<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            
    </head>
    <body>
        
       <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo material-icons">TUITION school BUDDY</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href = '/index' class="material-icons waves-effect waves-light">home</a></li>
                    <li><a href="/calculatorOptions">Calculator</a></li>
                    <li><a href="/LogIn"> Log In </a></li>
                    <li><a href="/SignUp"> Sign Up </a></li>
                </ul>
            </div>
        </nav> 
        
        
         <h4 class="center-align">Sign Up</h4>
        <div class="container">
             <div class="container">
            <div class="container">
         <form method="post" action="">
            <label for="fullName" placeholder="Enter full name">Please create a username</label>
                <input type='text' name='interestrate'>
             <label for="fullName" placeholder="Enter full name">Please select a password</label>
                <input type='text' name='advancedAmount'>
                <label for="fullName" placeholder="Enter full name">Please enter your password again</label>
                <input type='text' name='advancedAmount'>
            <input type='submit'>
        </form>
        </div>
        </div>
        </div>
    </body>
    
</html>

